absl-py==2.1.0
ackermann-msgs==2.0.2
action-msgs==2.0.2
action-tutorials-interfaces==0.33.5
action-tutorials-py==0.33.5
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
ale-py==0.8.1
ament-cmake-test==2.5.4
ament-copyright==0.17.2
ament-cppcheck==0.17.2
ament-cpplint==0.17.2
ament-flake8==0.17.2
ament-index-python==1.8.1
ament-lint==0.17.2
ament-lint-cmake==0.17.2
ament-package==0.16.4
ament-pep257==0.17.2
ament-uncrustify==0.17.2
ament-xmllint==0.17.2
angles==1.16.0
attrs==24.2.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
backcall==0.2.0
builtin-interfaces==2.0.2
cachetools==5.5.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
Click==7.0
cloudpickle==1.2.2
collision==1.2.2
composition-interfaces==2.0.2
control-msgs==5.4.0
controller-manager==4.28.1
controller-manager-msgs==4.28.1
cv-bridge==4.1.0
cycler==0.11.0
Cython==0.29.21
decorator==5.1.1
demo-nodes-py==0.33.5
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.3
domain-coordinator==0.12.0
example-interfaces==0.12.0
examples-rclpy-executors==0.19.5
examples-rclpy-minimal-action-client==0.19.5
examples-rclpy-minimal-action-server==0.19.5
examples-rclpy-minimal-client==0.19.5
examples-rclpy-minimal-publisher==0.19.5
examples-rclpy-minimal-service==0.19.5
examples-rclpy-minimal-subscriber==0.19.5
exceptiongroup==1.2.2
Farama-Notifications==0.0.4
fasteners==0.19
future==1.0.0
generate-parameter-library-py==0.4.0
geometry-msgs==5.3.6
glfw==2.8.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
gps-msgs==2.0.4
grpcio==1.62.3
gym==0.21.0
gym-notices==0.0.8
gymnasium==0.28.1
idna==3.4
image-geometry==4.1.0
imageio==2.31.2
importlib-metadata==4.13.0
importlib-resources==5.12.0
iniconfig==2.0.0
interactive-markers==2.5.4
ipdb==0.13.13
ipython==7.34.0
jax-jumpy==1.0.0
jedi==0.19.2
Jinja2==3.1.5
joblib==1.3.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonnet==0.20.0
kiwisolver==1.4.5
kociemba==1.2.1
laser-geometry==2.7.0
launch==3.4.4
launch-ros==0.26.7
launch-testing==3.4.4
launch-testing-ros==0.26.7
launch-xml==3.4.4
launch-yaml==3.4.4
lifecycle-msgs==2.0.2
logging-demo==0.33.5
map-msgs==2.4.1
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.1.2
matplotlib-inline==0.1.6
mdurl==0.1.2
message-filters==4.11.6
mock==5.1.0
mujoco-py==2.1.2.14
nav-msgs==5.3.6
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.11.0.86
osrf-pycommon==2.1.6
packaging==24.0
pal-statistics==2.6.2
pal-statistics-msgs==2.6.2
pandas==1.3.5
parso==0.8.4
pcl-msgs==1.0.0
pendulum-msgs==0.33.5
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pluggy==1.2.0
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==6.1.1
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycuber==0.2.2
pygame==2.1.2
pyglet==1.3.2
Pygments==2.17.2
pyparsing==3.1.4
pytest==7.4.4
python-dateutil==2.9.0.post0
python-qt-binding==2.2.1
pytz==2025.1
PyYAML==6.0.1
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.5
rcl-interfaces==2.0.2
rclpy==7.1.4
rcutils==6.7.2
requests==2.28.1
requests-oauthlib==2.0.0
resource-retriever==3.4.4
rich==13.8.1
rmw-dds-common==3.1.0
-e git+https://github.com/openai/robogym.git@9ff1111fd557b1a01911d7d8c9d59a453071c96e#egg=robogym
ros-gz-bridge==1.0.11
ros-gz-interfaces==1.0.11
ros-gz-sim==1.0.11
ros2action==0.32.4
ros2bag==0.26.7
ros2bag-mcap-cli==0.26.7
ros2bag-sqlite3-cli==0.26.7
ros2cli==0.32.4
ros2component==0.32.4
ros2controlcli==4.28.1
ros2doctor==0.32.4
ros2interface==0.32.4
ros2launch==0.26.7
ros2lifecycle==0.32.4
ros2multicast==0.32.4
ros2node==0.32.4
ros2param==0.32.4
ros2pkg==0.32.4
ros2run==0.32.4
ros2service==0.32.4
ros2topic==0.32.4
rosbag2-interfaces==0.26.7
rosbag2-py==0.26.7
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.1
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpyutils==0.4.1
rqt-action==2.2.0
rqt-bag==1.5.4
rqt-bag-plugins==1.5.4
rqt-console==2.2.1
rqt-graph==1.5.4
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.2
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.2
shape-msgs==5.3.6
Shimmy==0.2.1
six==1.17.0
sros2==0.13.3
stable-baselines3==1.8.0
statistics-msgs==2.0.2
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
teleop-twist-keyboard==2.4.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tf2-geometry-msgs==0.36.10
tf2-kdl==0.36.10
tf2-msgs==0.36.10
tf2-py==0.36.10
tf2-ros-py==0.36.10
tf2-sensor-msgs==0.36.10
tf2-tools==0.36.10
theora-image-transport==4.0.4
threadpoolctl==3.1.0
tomli==2.0.1
topic-monitor==0.33.5
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.67.1
traitlets==5.9.0
trajectory-msgs==5.3.6
transforms3d==0.3.1
trimesh==4.4.1
turtlesim==1.8.3
type-description-interfaces==2.0.2
typeguard==4.1.2
typing_extensions==4.7.1
unique-identifier-msgs==2.5.0
urllib3==1.26.13
vision-msgs==4.1.1
visualization-msgs==5.3.6
wcwidth==0.2.13
Werkzeug==2.2.3
xacro==2.0.13
zipp==3.15.0
